@page
@model WebApplication4.Pages.art.editModel
@{
}
<br>
<h2>Изменения статьи</h2>

@if (Model.errorMessenge.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessenge</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>  @*Команды из файла cs*@ @*кнопка измен статьи*@
    </div>
}

<form method="POST">      
    <input type="hidden" name="id" value="@Model.articleInfo.id">   @*обращение к id изменяемая статья*@
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Название</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="title" value="@Model.articleInfo.title">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Автор</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="author" value="@Model.articleInfo.author">
        </div>
    </div>

    @if (Model.successMessenge.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessenge</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Зкрыть'></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Отмена</a>
        </div>
    </div>
</form>